# Crie um arquivo .env com essas variáveis, subsitua os valores se quiser

DB_USER=seu_usuario
DB_PASSWORD=senha
DB_NAME=nome_banco
DB_PORT=5432

DATABASE_URL="postgresql://seu_usuario:senha@localhost:5432/nome_banco?schema=public"

URL_FRONTEND_CORS="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3001"

JWT_SECRETO="chave_secreta_jwt"